{
    "swagger": "2.0",
    "info": {
        "description": "DITS test FilmTracker project.",
        "title": "FilmTracker API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "filmtracker-api.com",
    "basePath": "{{.BasePath}}",
    "paths": {
        "/users/auth/signout/": {
            "get": {
                "description": "Sign Out from server, delete cookies",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Sign Out",
                "responses": {
                    "200": {
                        "description": "{\"success\":\"Sign Out\"}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "406": {
                        "description": "{\"error\":\"http: named cookie not present\"}",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "Refresh": {
            "type": "apiKey",
            "name": "Refresh",
            "in": "cookies"
        },
        "Token": {
            "type": "apiKey",
            "name": "Token",
            "in": "cookies"
        }
    }
}